script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
script(src="https://kit.fontawesome.com/3019646e28.js")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/main.css")
