<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        include components/head.pug
    body
        include components/navigation.pug

        div(class="my_container container mt-4")
            h1 Bienvenido

        include components/footer.pug
        