<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        include components/head.pug
    body
        include components/navigation.pug

        div(class="my_container bg-success container shadow mt-4 text-center text-light p-4 rounded-lg")
            h1(class="text-light") <i class="fas fa-exclamation-circle"></i> CODIGO = 
                =response
                | 
                |<i class="fas fa-exclamation-circle"></i> 
            h3(class="text-light") El archivo ha hido guardado perfectamente !
            br
            h4()
                a(href="/graph" class="text-light") <i class="fas fa-arrow-circle-right"></i> Ver los graficos
                br
                a(href="/import" class="text-light") <i class="fas fa-arrow-circle-left"></i> Ingresar otros datos  

        include components/footer.pug
        